@{
    ViewBag.Title = "Contact";
}

<body class="contact">
    <h2>@ViewBag.Title Us</h2>
    <h3>Contact Information</h3>

    <address>
        One Shoppping Way<br />
        Randolph, NJ 07869-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

</body>